body {
  box-sizing: border-box;
  background-color: #222;
  color: white;
}

.App {
  margin: 0px 20px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.groupListLoading {
  text-align: center;
  font-size: 24px;
  width: 100%;
}

.Filter {
  margin-top: 0px;
  padding-top: 0px;
  vertical-align: top;
}

.Filter .btn {
  color: black;;
  vertical-align: top;
  margin-top: 15px;
  margin-bottom: 10px;
  background-color: dodgerblue;
  border: 1px solid black;
  border-top-style: double;
  border-radius: 5px;
  width: 225px;
  box-shadow: -3px 3px 1px 0px rgba(0,0,0,.4);
}

.Filter .btn:hover {
  color: white;
  box-shadow: none;
}


