
body {
  box-sizing: border-box;
  background-color: #333;
  color: white;
}

.App {
  margin: 0px 20px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.GroupMaker {
  border: 2px solid #92bb35;
  width: 60%;
  display: inline-block;
  border-radius: 2px;
}

.topRow {
  display: flex;
}

.GroupMaker p {
  font-size: 18px;
}

.GroupMaker form {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 10px;
  border-radius: 3px;
}

.GMLabel {

  font-size: 17px;
  border-bottom: 2px solid dodgerblue;
  width: 100px;
  margin-bottom: 12px;
  padding-bottom: 4px;
}

.PlayerLocationSelect .GMLabel {
  width: 150px;
}

.LFHeroes {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  text-align: center;
}

.LFHeroesButton {
  background-color: #A83806;
  color: white;
  font-style: italic;
  padding: 7px;
  border: 1px solid white;
}

.formGroup {
  width: auto;
  margin: auto;
  padding: 5px;
  text-align: center;
  display: inline-block;
}

.Options {
  margin-top: 8px;
}

input[type=checkbox] {
  margin-right: 8px;
  height: 20px;
  width: 17px;
  vertical-align: middle;
  cursor: pointer;
}


