.fountain {
  background: url(/images/linaandmaiden.png) no-repeat center center;
  background-size: contain;
  background-color: black;
  min-height: calc(100vh - 60px);
  margin: 0px -20px;
  margin-top: 60px;
  padding-top: 50px;
}


.fountainContainer p {
  text-align: center;
  color: white;
  display: block;
  margin: 0px auto;
  padding: 10px;
}

.fountainContainer .title {
  font-size: 46px;
  border-bottom: 1px solid white;
  font-weight: bold;
  padding-bottom: 10px;
  border-radius: 2px;
  width: 350px;
  margin: 20px auto;
}

.fountainContainer .secondP {
  font-size: 26px;
  margin-bottom: 25px;
}

.fountainContainer .tools {
  margin-top: 5px;
  font-size: 18px;
}