
.fountainContainer {
  margin-left: -20px;
  margin-right: -20px;
}

.fountainContainer img {
  margin-top: 53px;
  max-height: calc(100vh - 66px);
  max-width: 100vw;
  z-index: -1;
  opacity: .8;
  background-color: black;
}

.fountain {
  position: absolute;
  top: 70px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.fountain button {
  border-color: white;
  width: 150px;
  color: black;
  box-shadow: none;
}

.fountain button a {
  color: black;
}

.fountain button a:hover {
  color: white;
  text-decoration: none;
}


.fountainContainer p {
  opacity: 1;
  z-index: 3;
  text-align: center;
  color: white;
  display: block;
  margin: 0px auto;
  padding: 10px;
}

.fountainContainer .title {
  font-size: 46px;
  font-weight: bold;
  padding-bottom: 10px;
  border-radius: 2px;
  width: 350px;
  margin: 20px auto;
}

.fountainContainer .secondP {
  font-size: 26px;
  margin-bottom: 25px;
}

.fountainContainer .tools {
  margin-top: 0px;
  font-size: 19px;
}

.fountainContainer .poweredBy {
  font-size: 26px;
  margin-top: 20px;
  width: 400px;
  border-radius: 5px;
}

.opendotaBrand a {
  font-weight: bolder;
  color: seagreen;
  cursor: pointer;
}

.opendotaBrand a:visited {
  color: crimson;
}

.opendotaBrand a:hover {
  color: dodgerblue;
  text-decoration: underline;
}

.lfgInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}

.fountainContainer .createAGroup {
  background-color: snow;
}

.createAGroup p {
  color: black;
}

.lfgInfo p {
  line-height: 1.5;
  max-width: 425px;
  text-align: left;
}

.lfgInfo .infoHeader {
  font-size: 26px;
  text-align: center;
}

.joinAGroup .infoHeader {
  color: seagreen;
}

.joinAGroup .joinImg1 {
  order: 1;
}

.joinAGroup div {
  align-self: baseline;
  order: 2;
  text-align: center;
}

.createAGroup .infoHeader {
  color: crimson;
}

.fountainContainer .lfgInfo img {
  margin: 0px;
  opacity: 1;
  z-index: 1;
  max-width: 50%;
  max-height: 400px;
}