.Group {
  margin: 15px auto;
  border: 3px solid crimson;
  border-radius: 5px;
  width: 515px;
  position: relative;
  min-height: 375px;
  border-radius: 2px;
  background-color:rgb(244, 244, 244);
  color: black;
  font-size: 17px;
}

.Group img {
  border: 2px solid black;
  max-width: 64px;
  max-height: 64px;
}

.groupTopRow {
  display: flex;
  flex-wrap: wrap;
  margin: 8px;
  justify-content: space-between;
}

.groupBottomRow {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 8px;
}

.groupHeroes {
  background-color: #444;
  border: 2px solid crimson;
  padding: 4px;
  box-shadow: -4px 4px 1px 0px rgba(0,0,0,0.51);
}

.groupHeroes .heroImg {
  max-width: 89px;
  max-height: 50px;
  border: 3px solid dodgerblue;
  margin: 5px 3px;
}

.groupProfile {
  font-size: 16px;
  overflow: hidden;
  width: 280px;
  overflow: hidden;
  text-align: left;
  background-color: snow;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  border: 1px solid black;
  box-shadow: -4px 4px 1px 0px rgba(0,0,0,0.51);
}

.groupProfile img {
  float: left;
  margin-right: 5px;
}

.groupProfile p {
  display: block;
  padding: 5px 0px;
  text-align: left;
  font-weight: bold;
  width: 100%;
  text-align: left;
}

.groupInfo {
  background-color: snow;
  color: black;
  border: 1px solid black;
  box-shadow: -4px 4px 1px 0px rgba(0,0,0,0.51);
  min-width: 200px;
  text-align: center;
  font-size: 16px;
}

.groupInfo p {
  border-bottom: 1px solid black;
  padding: 6px;
}

.groupHeroes .selectableSlot {
  cursor: pointer;
  opacity: .5;
  border: 3px solid white;
}
.groupHeroes .selectableSlot:hover {
  border: 3px solid crimson;
  opacity: 1;
}
