.gmHeroRow {
  margin-top: 10px;
}

.gmHeroRow img {
  cursor: pointer;
  opacity: .4;
  border: 2px solid white;
  margin: 0px 3px;
}

.gmHeroRow img:hover {
  opacity: 1;
}



.GMHeroes img {
  float: left;
  max-height: 33px;
  max-width: 59px;
  border: 1px solid white;
  margin: 0px 5px;
}