.GroupMaker {
  box-shadow: -10px 10px 1px 0px rgba(0,0,0, .4);
  background-color: rgb(225, 225, 225);
  width: 60%;
  display: inline-block;
  border-radius: 5px;
  border-color: black;
  padding: 5px;
}

.topRow {
  padding-top: 100px;
  display: flex;
}

.GroupMaker p {
  font-size: 18px;
}

form > div {
  background-color: white;
  border: 1px solid black;
  box-shadow: -4px 4px 1px 0px rgba(0,0,0,0.51);
  padding: 8px 0px;
}

.GroupMaker form {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 5px;
 
}

.GMLabel {
  font-size: 18px;
  border-bottom: 2px solid purple;
  width: 100px;
  margin-bottom: 12px;
  padding-bottom: 4px;
  color: black;
}

.PlayerLocationSelect .GMLabel {
  width: 150px;
}

.GroupMaker select {
  border-color: black;
}

.formGroup {
  min-width: 200px;
  margin: auto;
  padding: 5px;
  text-align: center;
  display: inline-block;
}

.Options {
  margin-top: 8px;
}

input[type=checkbox] {
  margin-right: 8px;
  height: 20px;
  width: 17px;
  vertical-align: middle;
  cursor: pointer;
}

.GMHeroes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
}

.GMHeroes div {
  border: 1px solid black;
  padding: 5px 0px;
  box-shadow: -4px 4px 1px 0px rgba(0,0,0,0.51);
  background-color: snow;
}

.GMHeroes img {
  max-height: 40px;
  max-width: 71px;
  border: 2px solid white;
  margin: 5px 3px;
  cursor: pointer;
}

.GMHeroes .heroImages {
  background-color: #444;
  border: 2px solid purple;
  padding: 4px;
  box-shadow: -4px 4px 1px 0px rgba(0,0,0,0.51);
}

.GMHeroes img:hover {
  border: 2px solid crimson;
}


.GMHeroes button {
  border-radius: 5px;
  padding: 8px 12px;
  width: 225px;
  border: 1px solid black;
  box-shadow: -3px 3px 1px 0px rgba(0,0,0,0.51);
}

.GMHeroes button:hover {
  border: 1px solid black;
  color: white;
  box-shadow: none;
}