.Group {
  margin-bottom: 25px;
  border: 2px solid black;
  width: 515px;
  position: relative;
  min-height: 375px;
  border-radius: 5px;
  background-color:rgb(244, 244, 244);
  color: black;
  font-size: 17px;
  box-shadow: -10px 10px 1px 0px rgba(0,0,0, .4);
}

.Group img {
  max-width: 64px;
  max-height: 64px;
}

.groupTopRow {
  display: flex;
  flex-wrap: wrap;
  margin: 8px;
  justify-content: space-between;
}

.groupBottomRow {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 8px;
}

.groupHeroes {
  background-color: #444;
  border: 2px solid purple;
  padding: 4px;
  box-shadow: -4px 4px 1px 0px rgba(0,0,0,0.4);
}

.groupHeroes .heroImg {
  max-width: 89px;
  max-height: 50px;
  margin: 5px 3px;
  border: 3px solid white;
}

.groupProfile {
  font-size: 16px;
  overflow: hidden;
  width: 280px;
  overflow: hidden;
  text-align: left;
  background-color: snow;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  border: 1px solid black;
  box-shadow: -4px 4px 1px 0px rgba(0,0,0,0.4);
}

.groupProfile img {
  float: left;
  margin-right: 5px;
  border: 1px solid black;
}

.groupProfile p {
  display: block;
  padding: 5px 0px;
  text-align: left;
  font-weight: bold;
  width: 100%;
  text-align: left;
}

.groupMode {
  color: purple;
}

.groupInfo {
  background-color: snow;
  color: black;
  border: 1px solid black;
  box-shadow: -4px 4px 1px 0px rgba(0,0,0,0.4);
  min-width: 200px;
  text-align: center;
  font-size: 15px;
}

.groupInfo p {
  border-bottom: 1px solid black;
  padding: 6px;
}

.groupHeroes .selectableSlot {
  cursor: pointer;
  opacity: .4;
  border: 1px solid black;
  
}
.groupHeroes .selectableSlot:hover {
  border: 1px solid white;
  opacity: 1;
}

@media screen and (max-width: 1615px) {
  .Group {
    margin: 15px auto;
  }
}

.groupHeroes .seagreen {
  border-color: seagreen;
}

.groupHeroes .crimson {
  border-color: crimson;
}

.groupHeroes .dodgerblue {
  border-color: dodgerblue;
}
