.heroSelector {
    left: 0;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    overflow: hidden;
}

.LFHContainer {
  background-color: #222;
  border: 2px solid purple;
  border-radius: 2px;
  width: 95%;
  height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.heroes {
  margin-bottom: 10px;
  text-align: left;
  background-color: rgba(240, 240, 240);
  margin-top: 10px;
  border: 2px solid black;
  box-shadow: -4px 4px 1px 0px rgba(0,0,0,0.51);
  padding: 5px;
}

.heroBox {
  width: 90%;
  margin: 0 auto;
  display: inline-block;
  
}

.heroBox .heroes p {
  border-bottom: 2px solid black;
  margin-bottom: 10px;
  font-size: 20px;
  padding-bottom: 5px;
  font-weight: bold;
}

.agility {
  color: #6CDB51;
}

.strength {
  color: #DB4C26;
}

.intelligence {
  color: #5ED6E9;
}

.heroSelector .heroes img {
  max-width: 59px;
  max-height: 33px;
  border: 1px solid black;
  margin: 2px;
  cursor: pointer;
}

.LFHInstructions {
  flex: 0 0 50%;
  margin: 10px auto;
  text-align: center;
  color: white;
}

.heroSelector .emoticon {
  border: none;
  margin-left: 5px;
  width: 32px;
  height: 32px;
}

.bottomRow {
  flex: 0 0 100%;
}

.emoticon3 {
  float: left;
}

.emoticon4 {
  float: right;
}

.selectedHeroes {
  flex: 0 0 100%;
  text-align: center;
}

.selectedHeroes img {
  margin: 0px 5px;
  border: 3px solid white;
}



.options {
  flex: 0 0 100%;
  text-align: center;
  margin-top: 5px;
}

.heroSelector .finishedButton {
  width: 150px;
  margin: 0px 7px;
  border: 1px solid white;
}

.agiHeroes {
  border-color: seagreen;
}

.strHeroes {
  border-color: crimson;
}

.intHeroes {
  border-color: dodgerblue;
}

.filters {
  display: inline-block;
  width: 43%;
  border: 2px solid purple;
  margin-right: 10px;
  margin-top: 10px;
  background-color: rgba(240, 240, 240);
}

.filters p {
  color: black;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 2px;
}

.form-group {
  padding: 10px;
}

.control-label {
  color: black;
  width: 100%;
  margin-left: 3px;
  text-align: left;
  margin-bottom: 5px;
}