.loginModal {
  left: 0px;
  position: fixed;
  top: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.8);
  z-index: 100;
  overflow: hidden;
  color: black;
}

.loginInfo {
  min-height: 25%;
  width: 50%;
  position: absolute;
  left: 25%;
  top: 30%;
  background-color: snow;
  border: 4px solid crimson;
  border-radius: 3px;
}

.loginModal .pudge {
  margin-top: 25px;
  font-size: 32px;
  margin-bottom: 15px;
}

span img {
  margin-left: 5px;
}

.loginModal p {
  padding: 15px;
}

.btn {
 margin: 20px 10px;
 border: 1px solid black;
 color: black;
}