.loginModal {
  left: 0px;
  position: fixed;
  top: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.8);
  z-index: 100;
  overflow: hidden;
  color: black;
}

.loginInfo {
  
  width: 90%;
  position: relative;
  top: 30%;
  margin: 0 auto;
  background-color: snow;
  border: 2px solid purple;
  border-radius: 3px;
}

.loginModal .pudge {
  margin-top: 25px;
  font-size: 28px;
  margin-bottom: 15px;
}

span img {
  margin-left: 5px;
}

.loginModal p {
  padding: 15px;
}

.btn {
 margin: 20px 10px;
 border: 1px solid black;
 color: black;
 box-shadow: -4px 4px 1px 0px rgba(0,0,0, .4);
}

.btn:hover {
  border: 1px solid black;
  color: white;
  box-shadow: none;
}
