.miniProfile {
  width: 40%;
  display: flex;
  margin-left: 10px;
  background-color: rgb(224, 224, 224);
  padding: 7px;
  border-radius: 5px;
  box-shadow: -10px 10px 1px 0px rgba(0,0,0, .4);
  justify-content: space-around;
}

.login {
  color: black;
  background-color: white;
  padding: 50px 15px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  box-shadow: -4px 4px 1px 0px rgba(0,0,0,0.4);
}

.profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border: 1px solid black;
  padding: 8px;
  box-shadow: -4px 4px 1px 0px rgba(0,0,0,0.4);
}

.profile p {
  margin-bottom: 3px;
  color: black;
  font-size: 17px;
}

.profile img {
  border: 1px solid black;
}

.stats {
  border: 1px solid black;
  color: black;
  margin-left: 5px;
  padding: 5px;
  background-color: white;
  box-shadow: -4px 4px 1px 0px rgba(0,0,0,0.4);
}

.miniHero {
  display: inline-block;
}

.miniHero p {
  display: inline-block;
}

.d2mh {
  margin-right: 5px;
}

.top3 > p {
  margin-bottom: 4px;
  padding-bottom: 1px;
  color: purple;
  font-size: 17px;
}

.top3 .opendota {
  margin-top: 7px;
  padding-bottom: 5px;
  color: black;
  border-bottom: 1px solid black;
}

.opendota a {
  color: purple;
}

.opendota a:hover {
  color: black;
}