.miniProfile {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  background-color: rgb(224, 224, 224);
  padding: 7px;
  border-radius: 5px;
  justify-content: space-around;
}

.login {
  color: black;
  background-color: white;
  padding: 50px 15px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  
}

.profile {
  display: flex;
  align-content: center;
  flex-direction: column;
  
  padding: 8px;
  
}

.profile p {
  margin-bottom: 8px;
  color: black;
  font-size: 17px;
}

.profile img {
  border: 1px solid black;
  max-width: 184px;
}

.stats {
  color: black;

}

.miniHero {
  display: inline-block;
}

.miniHero p {
  display: inline-block;
}

.d2mh {
  margin: 0px 5px;
}

.top3 > p {
  margin-bottom: 4px;
  padding-bottom: 1px;
  color: purple;
  font-size: 17px;
}

.top3 .opendota {
  margin-top: 7px;
  padding-bottom: 5px;
  color: black;
  border-bottom: 1px solid black;
}

.opendota a {
  color: purple;
}

.opendota a:hover {
  color: black;
}

@media only screen and (max-width: 1477px) {
 .miniProfile {
   margin-top: 20px;
 }

}