
.nav {
  margin: 0px -20px;
  display: flex;
  align-content: space-between;
  justify-content: center;
  align-items: center;
  background-color: #111;
  border-bottom: 2px solid purple;
  color: white;
  margin-bottom: 15px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
}

.navOptions {
  margin-left: auto;
  display: flex;
  align-items: center;
  padding: 10px;
}

.brand {
  display: inline;
  font-family: 'Cabin', sans-serif;
  font-size: 26px;
  font-style: bold;
  color: snow;
  margin-left: 20px;
  
}

.about {
  font-size: 18px;
  color: snow;
}

.nav img {
  cursor: pointer;
  margin-left: 50px;
  border: 2px solid snow;
  border-radius: 10px;
  border-top-color: purple;
  border-right-color: crimson;
  border-bottom-color: seagreen;
  border-left-color: dodgerblue;
}


.L {
  color:crimson;
}

.F {
  color: seagreen;
}

.G {
  color: dodgerblue;
}

.nav .e {
  color: white;
  font-size: 16px;
}
